<div>
    <a class="notification sponsor" href="https://apptelemetry.io/pages/download.html?utm_source=ohmyswift&amp;utm_medium=appshowcase&amp;utm_campaign=may" target="_blank">
    <img src="https://apptelemetry.io/images/Mac%20App%20512pt@2x.png">
    <div>
    <p class= "sponsor-title">
        AppTelemetry
    </p>
    <p>
        AppTelemetry is a new service that helps app and web developers improve their product by supplying immediate, accurate telemetry data while users use your app. And the best part: It's all anonymized so your users' data stays private! </p>
    </div>
</a>
</div>