<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/blog/assets/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/blog/assets/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/blog/assets/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="/blog/assets/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="/blog/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#9f00a7">
    <meta name="theme-color" content="#ffffff">
    <link href="https://newsletter.codeflakes.studio/public/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://newsletter.codeflakes.studio/public/custom.css" rel="stylesheet" type="text/css">
    <link href="https://newsletter.codeflakes.studio/public/custom.js" rel="stylesheet" type="text/css">

  
    {% assign title = page.title | default: site.title | escape %}
    {% assign canonical = page.url | replace:'index.html','' | absolute_url %}
    {% assign description = page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape %}
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% if page.keywords %}
      {% if page.keywords.first %}
        {% assign keywords = page.keywords | join: ',' %}
      {% else %}
        {% assign keywords = page.keywords %}
      {% endif %}
      <meta name="keywords" content="{{ keywords }}">
    {% endif %}
  
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/customstyles.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/custom_image.css" | relative_url }}">

 
    <link rel="canonical" href="{{ canonical }}">
    {% assign feed_path = "/feed.xml" %}
    {% if site.feed and site.feed.path %}
      {% assign feed_path = site.feed.path %}
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ feed_path | absolute_url }}">
  
    {% include head_custom.html %}
  
    {% include fonts.html %}
    {% include google_analytics.html %}
    {% include google-new-analytics.html %}

   
    {% seo %}



</head>
  